<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Test_GetSetting -->
    <add key="String_Test_1" value="TestValue"/>
    <add key="String_Test_2" value=""/>
    
    <!-- Test_GetSettingType -->
    <add key="Int_Test_1" value="50"/>
    <add key="Int_Test_2" value="-1078"/>
    <add key="Long_Test_1" value="5008278748728"/>
    <add key="Long_Test_2" value="-528635648728"/>
    <add key="Bool_Test_1" value="true"/>
    <add key="Bool_Test_2" value="false"/>
    <add key="Bool_Test_3" value="True"/>
    <add key="Bool_Test_4" value="False"/>
    <add key="Double_test_1" value="1.836"/>
    <add key="Double_test_2" value="-2.9376"/>
  </appSettings>
</configuration>